*.hda binary
*.hda linguist-generated
*.hda -diff
*.otl binary
*.otl linguist-generated
*.otl -diff
*.bgeo binary
*.bgeo linguist-generated
*.bgeo -diff
*.bgeo.sc binary
*.bgeo.sc linguist-generated
*.bgeo.sc -diff
*.abc binary
*.abc linguist-generated
*.abc -diff
*.usdc binary
*.usdc linguist-generated
*.usdc -diff
*.png binary
*.png linguist-generated
*.png -diff
*.ico binary
*.ico linguist-generated
*.ico -diff
*.so binary
*.so linguist-generated
*.so -diff
*.dll binary
*.dll linguist-generated
*.dll -diff
*.svg binary
*.svg linguist-generated
*.svg -diff
*.ttf binary
*.ttf linguist-generated
*.ttf -diff
*.otf binary
*.otf linguist-generated
*.otf -diff
*.eot binary
*.eot linguist-generated
*.eot -diff
*.woff binary
*.woff linguist-generated
*.woff -diff
*.nk binary
*.nk linguist-generated
*.nk -diff
*.gizmo binary
*.gizmo linguist-generated
*.gizmo -diff
*.cub binary
*.cub linguist-generated
*.cub -diff
*.fllook binary
*.fllook linguist-generated
*.fllook -diff
*.pdf binary
*.pdf linguist-generated
*.pdf -diff
