[submodule "vim_packages/pack/minpac/opt/minpac"]
	path = vim_packages/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule "dev/opt/ale"]
	path = dev/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim_packages/pack/dev/opt/ale"]
	path = vim_packages/pack/dev/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim_packages/pack/core/start/vim-unimpaired"]
	path = vim_packages/pack/core/start/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "vim_packages/pack/core/start/vim-surround"]
	path = vim_packages/pack/core/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim_packages/pack/core/start/vim-vinegar"]
	path = vim_packages/pack/core/start/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "vim_packages/pack/core/start/delimitMate"]
	path = vim_packages/pack/core/start/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
