[submodule "vim_packages/pack/minpac/opt/minpac"]
	path = vim_packages/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule "dev/opt/ale"]
	path = dev/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim_packages/pack/dev/opt/ale"]
	path = vim_packages/pack/dev/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim_packages/pack/core/start/vim-unimpaired"]
	path = vim_packages/pack/core/start/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "vim_packages/pack/core/start/vim-surround"]
	path = vim_packages/pack/core/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim_packages/pack/core/start/vim-vinegar"]
	path = vim_packages/pack/core/start/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "vim_packages/pack/core/start/delimitMate"]
	path = vim_packages/pack/core/start/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "vim_packages/pack/core/start/lightline"]
	path = vim_packages/pack/core/start/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim_packages/pack/core/start/lightline-bufferline"]
	path = vim_packages/pack/core/start/lightline-bufferline
	url = git@github.com:mengelbrecht/lightline-bufferline.git
[submodule "vim_packages/pack/dev/start/vim-gitbranch"]
	path = vim_packages/pack/dev/start/vim-gitbranch
	url = git@github.com:itchyny/vim-gitbranch.git
[submodule "vim_packages/pack/core/start/vim-easy-align"]
	path = vim_packages/pack/core/start/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align.git
[submodule "vim_packages/pack/dev/start/vindent"]
	path = vim_packages/pack/dev/start/vindent
	url = git@github.com:jessekelighine/vindent.vim.git
[submodule "vim_packages/pack/dev/start/nerdcommenter"]
	path = vim_packages/pack/dev/start/nerdcommenter
	url = git@github.com:preservim/nerdcommenter.git
[submodule "vim_packages/pack/core/start/vim-devicons"]
	path = vim_packages/pack/core/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim_packages/pack/core/start/fzf"]
	path = vim_packages/pack/core/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim_packages/pack/core/start/fzf.vim"]
	path = vim_packages/pack/core/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
